node_modules
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
/env*.sh
/space-camp-chart/values.yaml
/space-camp-chart/values-prod.yaml
env.sh
.idea
package
.gradle
